<div class="modal" *ngIf="show">
    <div class="modal-content">
        <span class="close" (click)="onClose()">&times;</span>

        <h2>{{ book?.title }}</h2>

        <div class="book-info">
            <p><strong>Autor:</strong> {{ book?.author }}</p>
            <p><strong>Ano:</strong> {{ book?.year }}</p>
            <p><strong>Editora:</strong> {{ book?.publishingCompany }}</p>
            <p><strong>Lido?</strong> {{ book?.isReaded ? 'Sim' : 'Não' }}</p>
            <p><strong>Digital?</strong> {{ book?.isDigital ? 'Sim' : 'Não' }}</p>
            <p><strong>Atualização:</strong> {{ book?.updatedDate | date:'short' }}</p>
        </div>

        <div *ngIf="book?.cover" class="cover-preview">
            <img [src]="book?.cover" alt="Capa do livro" />
        </div>

    </div>
</div>