<div class="container">
    <h1>📚 Minha Biblioteca</h1>

    <input type="text" [(ngModel)]="search" placeholder="Buscar livro..." />

    <table>
        <thead>
        <tr>
            <th>Título</th>
            <th>Autor</th>
            <th>Ano</th>
            <th>Editora</th>
            <th>Lido?</th>
            <th>Digital?</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let book of filteredBooks" (click)="openDetails(book)">
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.year }}</td>
            <td>{{ book.publishingCompany }}</td>
            <td>{{ book.isReaded ? 'Sim' : 'Não' }}</td>
            <td>{{ book.isDigital ? 'Sim' : 'Não' }}</td>
        </tr>
        </tbody>
    </table>

    <button [routerLink]="['/cadastrar']">Cadastrar Novo Livro</button>

    <app-book-details
            [book]="selectedBook"
            [show]="showDetails"
            [onClose]="closeDetails.bind(this)">
    </app-book-details>
</div>